<div class="foglalas-form">
    <h2>Hajó foglalás</h2>

    <div *ngIf="hajo as h">
        <h2>Foglalás: {{ h.nev }}</h2>
        <p><strong>Ár:</strong> {{ h.ar | currency:'HUF' }}</p>
    </div>
    <ng-template #formTemplate>
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted">
            <label>
            Név:
            <input type="text" [(ngModel)]="foglalas.nev" name="nev" required />
            </label>

            <label>
            E-mail:
            <input type="email" [(ngModel)]="foglalas.email" name="email" required />
            </label>

            <label>
            Létszám:
            <input type="number" [(ngModel)]="foglalas.letszam" name="letszam" min="1" required />
            </label>

            <label>
            Dátum:
            <input type="date" [(ngModel)]="foglalas.datum" name="datum" required />
            </label>

            <button type="submit">Foglalás</button>
        </form>
    </ng-template>
    <div *ngIf="submitted; else formTemplate" class="siker-uzenet">
        <h3>Köszönjük a foglalást!</h3>
        <p><strong>Név:</strong> {{ foglalas.nev }}</p>
        <p><strong>E-mail:</strong> {{ foglalas.email }}</p>
        <p><strong>Létszám:</strong> {{ foglalas.letszam }}</p>
        <p><strong>Dátum:</strong> {{ foglalas.datum | dateFormat }}</p>
    </div>
</div>
